.note {
  background: yellow !important;
  color: red !important;

  padding: 24px;
  margin: 20px auto;
  max-width: 600px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  line-height: 1.8;
  border: 1px solid #ddd;

  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border-radius: 6px;


}

.box27 {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #62c1ce;
}
.box27 .box-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #62c1ce;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}
.box27 p {
    margin: 0; 
    padding: 0;
}

